@page "/schedule/{Id:int}"
@inject NavigationManager NavigationManager
@inject CalenderSchedule.BlazorWASM.Services.ScheduleAPIService scheduleAPIService
@using CalenderSchedule.Shared


<div>
    <h1>@calenderItem.Name</h1>
</div>
<div>
    Month: @calenderItem.Month.ToString()
</div>
<div>
    Day: @calenderItem.Day.ToString()
</div>
<div>
    Year: @calenderItem.Year.ToString()
</div>
<div>
    @calenderItem.Time.ToString("T")
</div>
<div>
    @calenderItem.Description
</div>
<hr />

<button @onclick="Edit">Edit Item</button>
<button @onclick="Delete">Delete Item</button>

@code {
    [Parameter]
    public int Id { get; set; }

    Schedule calenderItem = new Schedule();

    protected override async Task OnInitializedAsync()
    {
        calenderItem = await scheduleAPIService.GetScheduleAsync(Id);
    }

    public void Edit()
    {
        NavigationManager.NavigateTo($"edit/{Id}");
    }

    public async Task Delete()
    {
        await scheduleAPIService.DeleteSchedule(calenderItem);
        NavigationManager.NavigateTo("");
    }
}